@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="dedication"]{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}
