@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-variant: small-caps;
}

section[epub|type~="dedication"]{
	text-align: center;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

abbr.name{
	white-space: nowrap;
}

footer{
	text-align: right;
	margin-top: 1em;
}
