@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]{
	text-align: center;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}

footer{
	text-align: right;
	margin-top: 1em;
}
